.box {
    background-color: red;
    color: rgb(249, 249, 249);
    font-size: 75px;
    text-align: center;
    display: none;

}
@media only screen and (max-width:300px) {

#box-1 {
    display: block;
    background-color: aqua;
}

}

@media only screen and  (max-width:500px) and (min-width:300px) {


#box-2  {
    display: block;
    background-color: blue;
}

}


@media (min-width:500px) and (max-width:800px) {


    #box-3 {
        display: block;
        background-color: rgb(0, 243, 24);
        color: black;
    }
    
    }

    

    @media (min-width:800px)  {


        #box-4 {
            display: block; 
            background-color: yellow;
        }
        
        }
        

